<header>
  <h1>Browse through Spotify artists</h1>
</header>
{{outlet}}
<footer>
  <p>A demo application built with <em>ember-cli</em></p>
  <span>by</span><a href="https://twitter.com/eabait">eabait</a>
</footer>